*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/**     MENÚ LATERAL    **/
#btn-menu{
    display: none;
}

.menu-container{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .menu-container{
    opacity: 1;
    visibility: visible;
}

.menu{
    width: 100%;
    max-width: 250px;
    background: #0ba8e2;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
}

.menu nav{
    transform: translateY(15%);
}

.menu nav a{
    display: block;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.menu nav a:hover{
    border-left: 5px solid white;
    background: #088ac2;
}

/** **********************************************************************************************************  **/
.header{
    position: relative;
    width: 100%;
    height: 90vh;
    background: #3586ff;
    overflow: hidden;
}

.open-button{
    width: 32px;
    height: 32px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #3586ff;
    cursor: pointer;
    border: none;
}

.button-icon{
    background-image: url(../img/menu-01.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.button-icon:hover{
    background-image: url(../img/menu-02.png);
    transition: transform 2s ease;
    transform: rotate(360deg);
    background-size: cover;
    transform: rotate(0.5);
}

.close-button{
    position: relative;
    top: 50px;
    left: 50px;
}

.close-button-icon{
    background-image: url(../img/menu-03.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.close-button-icon:hover{
    background-image: url(../img/menu-04.png);
    transition: transform 2s ease;
    transform: rotate(360deg);
    background-size: cover;
    transform: rotate(0.5);
    cursor: pointer;
}

.header-title{
    width: 100%;
    height: 30vh;
}

.portfolio-title{
    color: white;
    top: 100px;
    position: center;
    justify-content: center;
    text-align: center;
    font-size: 100px;
}

.header-subtitle{
    width: 100%;
    height: 10vh;
}

.portfolio-subtitle{
    color: white;
    top: 20px;
    position: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.link-container{
    width: 100%;
    height: 10vh;
    top: 10px;
    position: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.img-link:hover{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transform: scale(1.5);
}
/** **************************************************** CONTENIDO **************************************************** **/
.content-container{
    position: absolute;
    width: 100%;
    justify-content: center;
}

.first-article{
    position: relative;
    width: calc(100% - 100px);
    height: 300px;
    top: 20px;
    left: 50px;
}

.first-article-content{
    position: relative;
    width: calc(100% - 350px);
    top: -200px;
}

.first-article-image{
    position: relative;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.domestika.org%2Fc_limit%2Cdpr_auto%2Cf_auto%2Cq_auto%2Cw_820%2Fv1576497340%2Fcontent-items%2F003%2F518%2F329%2F_MG_5442-original.jpg%3F1576497340&f=1&nofb=1&ipt=da532f065b2c6007b36840b79c4a7dc12596ffbbe5a0d77978591a773c9ede65&ipo=images);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    left: calc(100% - 300px);
    cursor: pointer;
}

.first-article-image:hover{
    transform: translate(5px, 12px);
}

.second-article{
    position: relative;
    width: calc(100% - 100px);
    height: 300px;
    top: 20px;
    left: 50px;
}

.second-article-content{
    position: relative;
    width: calc(100% - 350px);
    top: -200px;
    left: 350px
}

.second-article-image{
    position: relative;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.domestika.org%2Fc_limit%2Cdpr_auto%2Cf_auto%2Cq_auto%2Cw_820%2Fv1576497340%2Fcontent-items%2F003%2F518%2F329%2F_MG_5442-original.jpg%3F1576497340&f=1&nofb=1&ipt=da532f065b2c6007b36840b79c4a7dc12596ffbbe5a0d77978591a773c9ede65&ipo=images);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    cursor: pointer;
}

/** **************************************************** ANIMACIÓN DE LAS OLAS **************************************************** **/
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img//wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4{
    animation: animate2 10s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate2{
    
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: -1000px;
    }
}

/** **************************************************** MEDIA QUERY'S **************************************************** **/

@media screen and (max-width: 720px){
    .header-title{
        height: 15vh;
    }

    .portfolio-title{
        font-size: 50px;
    }

    section{
        height: 50vh;
    }

    .header-subtitle{
        height: 7vh;
    }

    .portfolio-subtitle{
        position: center;
        font-size: 20px;
        padding-bottom: 0px;
        bottom: -10px;
    }

    .link-container a{
        padding-top: 0px;
    }

    .menu{
        width: 100%;
        max-width: 250px;
        background: #0ba8e2;
        height: 90vh;
        position: relative;
        transition: all 500ms ease;
    }

    .menu nav{
        margin-top: 50px;
    }
    
    .menu nav a{
        float: left;
        display: grid;
        position: relative;
        padding: 20px;
        color: white;
        font-size: 15px;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
    }

    .first-article-image,
    .second-article-image{
        width: 250px;
        height: 250px;
    }

}